<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>sell</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.fc95ecb15d823cfb3172a7b93aaa741d.css}"/>
</head>
<body><div id="app">

</div>
<script type="text/javascript"  th:src="@{/js/manifest.185550d3993afc1b5dad.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor.a6b937c45f4e42f38177.js}"></script>
<script type="text/javascript" th:src="@{/js/app.4e7cd9b720563170d2ec.js}">
</script>
</body>
</html>

